# Dotenv
.env
*/.env
!.env.example
secret.yaml

# Logs
logs.txt
*/logs.txt

# Frontend
node_modules
dist
build

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

# app
bin
api.exe