@use '../variables' as *;

.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px),
    linear-gradient(180deg,rgba(255, 212, 194, 1) 0%, rgba(245, 245, 247, 1) 100%);
  background-size: 75px 75px, 75px 75px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
}

.header {
  text-align: center;
  width: 50%;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}