@use "./variables" as *;

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr 340px;
    background: $background-color;
}

.sidebar {
    background: $background-color-primary;
    border-right: 1px solid $border-color;
    padding: 1rem;
}

.canvas {
    background: $background-color-secondary;
    overflow-y: auto;
    padding: 2rem;
}

.inspector {
    background: $background-color-primary;
    border-left: 1px solid $border-color;
    padding: 1rem;
}